@font-face {
  font-family: Quantico;
  src: url(https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap) format("truetype") local(Quantico);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
  /*colours*/
  --darkest-blue: #03045e;
  --mid-blue:#0096c7;
  --cianest:#caf0f8;
  /*sizes*/
  --xs: 360px;
  --s: 440px;
  --m: 768px;
  --l: 1280px;
  --xl: 1440px;
  /*colours roles*/
  --primary-colour: var(--mid-blue);
  --secondary-colour: var(--darkest-blue);
  --terciary-colour:var(--cianest)
}

.grid {
  margin: 0 16px;

  @include for-size(m) {
    margin: 0 32px;
  }

  @include for-size(l) {
    margin: 0 80px;
  }

  @include for-size(xl) {
    margin: 0 auto;
    max-width: 1280px;
  }
}
html{
  font-size: 62.5%;
  font-family: 'Quantico', sans-serif;
}
body{
  background: var(--cianest) center no-repeat;
  min-width: 320px;
}
.header__container{
  width: 100%;
  display: grid;
  min-height: 50vh;
  grid-template-columns: 1fr;
  align-items: center;
}
header{
  width: 100%;
  min-height: 178px;
}
.container__title{
  font-weight: 500;
  margin-top: 5.8rem;
  text-align: center;
  font-size: 3.6rem;
  background: linear-gradient(180deg, #0096c7 45%, #023e8a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__menu{
  font-weight: 600;
  margin-top: 1.25rem;
  text-align: center;
  font-size: 1.6rem;
  background: linear-gradient(180deg, #0096c7 45%, #023e8a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  cursor: pointer;
}
.main__container{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 10vh;
}
.sections{
  min-height: 45vh;
  width: 75%;
  background-color: white;
}
.footer__container{
  width: 100%;
  display: grid;
  justify-items: center;
  text-align: center;
}
.footer-img{
  width: 200px;
}