@font-face {
  font-family: Quantico;
  src: url(https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap) format("truetype");
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
  --darkest-blue: #03045e;
  --dark-blue: #023e8a;
  --cobalt:#0077b6;
  --mid-blue:#0096c7;
  --cian-blue:#00b4d8;
  --cian:#48cae4;
  --light-cian:#90e0ef;
  --lighter-cian:#ade8f4;
  --cianest:#caf0f8;
}
html{
  font-size: 62.5%;
  font-family: 'Quantico', sans-serif;
}
body{
  background: linear-gradient(180deg, #03045E 0%, rgba(0, 161, 151, 0) 99.99%, rgba(202, 240, 248, 0) 100%) center no-repeat;
  min-width: 320px;
}
.header__container{
  width: 100%;
  display: grid;
  min-height: 50vh;
  grid-template-columns: 1fr;
  align-items: center;
}
header{
  width: 100%;
  min-height: 178px;
}
.container__title{
  font-weight: 500;
  margin-top: 5.8rem;
  text-align: center;
  font-size: 3.6rem;
  background: linear-gradient(180deg, #FFFFFF 40.63%, #48CAE4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__menu{
  font-weight: 600;
  margin-top: 1.25rem;
  text-align: center;
  font-size: 1.6rem;
  background: linear-gradient(180deg, #90E0EF 35.42%, rgba(255, 255, 255, 0) 97.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  cursor: pointer;
}
.main__container{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 10vh;
}
.sections{
  min-height: 45vh;
  width: 75%;
  background-color: var(--cobalt);
}
.footer__container{
  display: grid;
  justify-items: center;
  text-align: center;
}